[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

opencv-contrib-python = "==3.3.0.9"
Pillow = "*"
Flask = "*"
gunicorn = "*"
itsdangerous = "*"
"Jinja2" = "*"
scipy = "*"
Werkzeug = "*"
Keras = "*"
tensorflow = "*"
"h5py" = "*"
gevent = "*"


[dev-packages]

