<!doctype html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static',filename='custom.css') }}" />
  <!-- jQuery library -->
  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-filestyle.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='holder.min.js') }}"></script>
  <link href="{{ url_for('static', filename='album.css') }}" rel="stylesheet">

  <title>Computer Vision Emotion Detection Game</title>

</head>

<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Computer vision game build with OpenCV and TensorFlow.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="https://github.com/justinshenk/party-pi" class="text-white">Get the code</a></li>
              <li><a href="https://linkedin.com/in/justinshenk" class="text-white">Connect on LinkedIn</a></li>
              <li><a href="mailto:shenk.justin?subject=Party-Pi@gmail.com" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>Emotion Detection Game (Under Development)</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <main role="main">

    <section id='jumbo' class="jumbotron text-center">
      <div class='video-container'>
        <div class='row justify-content-md-center'>
          <div id='output'>
            <!-- <image id="loadingImage" src="{{ url_for('static', filename='loading.jpg')}}" height="480px" width="640px" hidden=true /> -->
          </div>
          <video height=480px width=640px autoplay="true" id="videoElement"></video>
          <div id="uiContainer">
            <div class='row'>
              <h1 id="headline"></h1>
            </div>
            <div class='row'>
              <p id="text">Click play_</p>
            </div>
            <div class='row'>
              <button id="play">Play</button>
            </div>
          </div>
          <!-- <image id='placeholder' src="{{ url_for('static', filename='loading.jpg')}}" height="480px" width="640px"></image> -->
        </div>
      </div>
    </section>

    <div class='row'>
      <div class='mx-auto col-md-2 col-md-offset-5'>
        <form>
          <input id='imageInput' type="file" accept="image/*;" capture="camera" style="display: none">
        </form>
      </div>
    </div>
    <div class='row' id="myProgress">
      <div id="countdownBar">
      </div>
    </div>

    <div id='gallery' class="album py-5 bg-light" style="display: none;">
      <div class="container">
        <h1>Gallery</h1>
        <br>
        <div class='row' id='galleryImages'>
          <!-- <p id='purchaseNote'></p>
        <div id='secretImages'></div> -->
        </div>
      </div>
    </div>
  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Party Pi is &copy; Justin Shenk</p>
      <p>Want the code? <a href="https://github.com/justinshenk/partypi">Visit the GitHub repo</a>.</p>
    </div>
  </footer>

  <script type="text/javascript">

    var emotionArray = [
      'happy',
      'angry',
      'sad',
      'disgust',
      'fear',
      'surprise',
      'neutral'
    ]

    // Image upload for mobile device
    var fileupload = $("#imageInput");

    function readURL(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#loadingImage').show();
          $('#loadingImage').attr('src', e.target.result);

          // Move photo to gallery
          $('#output img').each(function(i) {
            // // Create card for image
            var img_src = $(this).attr('src');
            $(this).remove();

            var myCard = $('<div class="col-md-4"><div class="card mb-4 box-shadow"><img id="img_' + i + '" class="card-img-top" src="' + img_src +
              '" alt="Card image cap"><div class="card-body"><div class="d-flex justify-content-between align-items-center"><div class="btn-group"><button type="button" id="btn_' + i +
              '" class="btn btn-sm btn-outline-secondary view-btn"><i class="fas fa-download"></i></button></div><small class="text-muted"></small></div></div></div>');
            // $(this).prependTo("#galleryImages");
            myCard.prependTo('#galleryImages');

          });

          $.ajax({
            type: "POST",
            url: "{{ url_for('image') }}",
            data: {
              imageBase64: e.target.result,
              emotion: currentEmotion
            },
            timeout: 10000
          }).done(function(data) {
            console.log('this data');
            // Add photo to top
            $output = $("#output");
            var img = document.createElement('img')
            img.setAttribute('id', 'photo');
            img.src = "data:image/jpeg;base64," + data;
            $output.prepend(img);
            // $(this).prependTo("#galleryImages");
            // $('#galleryImages').prepend(myCard);
            // var track = window.localStream.getTracks()[0];
            // track.stop()
          });
        };
        reader.readAsDataURL(input.files[0]);
      }
    };

    fileupload.on('change', function() {
      readURL(this);
    });
    // end image upload

    function getRandomEmotion() {
      var randomNumber = Math.floor(Math.random() * emotionArray.length);
      return emotionArray[randomNumber];
    }

    function errorMessage(message, e) {
      console.error(message, typeof e == 'undefined' ? '' : e);
    }

    var webcam;
    var debug = {{ debug }};

    var currentEmotion = 'happy';

    function getWebcam() {
      if (navigator.mediaDevices === undefined) {
        navigator.mediaDevices = {};
      }

      // Here, we will just add the getUserMedia property if it's missing.
      if (navigator.mediaDevices.getUserMedia === undefined) {
        navigator.mediaDevices.getUserMedia = function(constraints) {

          // First get ahold of the legacy getUserMedia, if present
          var getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

          // Some browsers just don't implement it - return a rejected promise with an error
          // to keep a consistent interface
          if (!getUserMedia) {
            return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
          }

          // Otherwise, wrap the call to the old navigator.getUserMedia with a Promise
          return new Promise(function(resolve, reject) {
            getUserMedia.call(navigator, constraints, resolve, reject);
          });
        }
      }
    }

    function startWebcam() {
      if (debug | location.protocol === 'https:') {
        // navigator.getUserMedia = navigator.getUserMedia || navigator.mediaDevices.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;
        getWebcam();

        // Prefer camera resolution nearest to 640x480.
        var constraints = { audio: false, video: { width: 640, height: 480 } };

        navigator.mediaDevices.getUserMedia(constraints)
        .then(function(stream) {

          $('#placeholder').hide();
          $('#imageInput').filestyle('destroy');
          $('#imageInput').hide();

          var video = $("#videoElement").get(0);
          // Older browsers may not have srcObject
          if ("srcObject" in video) {
            video.srcObject = stream;
          } else {
            // Avoid using this in new browsers, as it is going away.
            video.src = window.URL.createObjectURL(stream);
          }
          video.onloadedmetadata = function(e) {
            video.play();
          };
        })
        .catch(function(e) {
          var message;
          switch (e.name) {
            case 'NotFoundError':
            case 'DevicesNotFoundError':
              message = 'Please setup your webcam first.';
              break;
            case 'SourceUnavailableError':
              message = 'Your webcam is busy';
              break;
            case 'PermissionDeniedError':
            case 'SecurityError':
              message = 'Permission denied!';
              break;
            default:
              errorMessage('Reeeejected!', e);
              return;
          }
          $('#imageInput').show();
          $('#videoElement').hide();
          $('#play').hide();

          errorMessage(message);
        });
      } else {
        console.log('HTTPS not found');
      }
    };
    // end startWebcam

    $(document).ready(function() {
      "use strict";

      console.log("ready");
      $("#imageInput").filestyle({
        input: false,
        text: "Take photo",
        size: 'lg',
        btnClass: "btn btn-primary"
      });

      var video, $output;
      var scale = 1;

      var initialize = function() {
        startWebcam();
        $("#play").click(function() {
          // Move photos below
          $('#output img').each(function(i) {
            // $(this).attr('class', 'gallery');
            // $(this).prependTo("#galleryImages");
            var img_src = $(this).attr('src');
            $(this).remove();
            var galleryLength = $(".card-img-top").length;

            var myCard = $('<div class="col-md-4"><div class="card mb-4 box-shadow"><img id="img_' + galleryLength + '" class="card-img-top" src="' + img_src +
              '" alt="Card image cap"><div class="card-body"><div class="d-flex justify-content-between align-items-center"><div class="btn-group"><button type="button" id="btn_' + i +
              '" class="btn btn-sm btn-outline-secondary view-btn" onclick="saveMe(img_' + galleryLength + ')"><i class="fas fa-download"></i></button></div><small class="text-muted"></small></div></div></div>');
            // $(this).prependTo("#galleryImages");
            myCard.prependTo('#galleryImages');
          });

          // for (var i = 0; i < galleryLength; i++) {
          //   console.log(i, galleryLength)
          //   $('.card-img-top')[i].id = 'img_' + galleryLength - i - 1;
          // }
          $(".view-btn").each(function(i) {
            console.log('view btn each ' + i);
            $(this).click(function() {
              console.log('click of ' + i);
              var img_src = $("#img_" + i).attr('src');
              var a = document.createElement('a');
              a.href = img_src;
              a.download = "party_pi_" + i + ".jpg";
              document.body.appendChild(a);
              a.click();
              document.body.removeChild(a);
            })
          });

          // Show and start webcam
          $("#videoElement").show();
          startWebcam();
          $("#text").text("Show " + currentEmotion + "_");
          // Hide button
          $(this).hide();
          // Start timer
          move();
          // Capture image and load image
          setTimeout(captureImage, 3000);
        });
      };

      var captureImage = function() {
        // setTimeout(move, 3000);
        // Loading screen
        $("#loadingImage").show();

        video = $("#videoElement").get(0);
        var canvas = document.createElement("canvas");
        canvas.width = video.videoWidth * scale;
        canvas.height = video.videoHeight * scale;
        var canvasContext = canvas.getContext('2d');
        canvasContext.translate(video.videoWidth, 0);
        canvasContext.scale(-1, 1);
        canvasContext.drawImage(video, 0, 0, canvas.width, canvas.height);

        // var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
        // window.location.href=image;

        var dataURL = canvas.toDataURL();
        document.querySelector('#play').href = dataURL;
        $.ajax({
          type: "POST",
          url: "{{ url_for('image') }}",
          data: {
            imageBase64: dataURL,
            emotion: currentEmotion
          },
          timeout: 10000
        }).done(function(data) {
          console.log('this data');
          // Add photo to top
          $output = $("#output");
          var img = document.createElement('img')
          // img.setAttribute('id', 'photo');
          img.src = "data:image/jpeg;base64," + data;
          $output.prepend(img);
          $('#videoElement').hide();
          $("#play").show();

          // Show gallery
          $('#gallery').css("display", "block");
        });
      }; // end captureImage

      $(initialize);
    });

    <!-- PROGRESS BAR -->
    function move() {
      var elem = document.getElementById("countdownBar");
      var width = 1;
      var id = setInterval(frame, 30);

      function frame() {
        if (width >= 100) {
          clearInterval(id);
        } else {
          width++;
          elem.style.width = width + '%';
        }
      }
    }
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='shuffler1.js') }}"></script>

</body>


<!-- <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script> -->
<!-- <script src="{{url_for('static',filename='index.js')}}"></script>
	<script  type="text/javascript">
		document.getElementById("image").src = "data:image/png;base64," + {{ image }};
	</script> -->

</html>
