<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static',filename='js/fontawesome-all.js') }}"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}" />
  <!-- jQuery library -->
  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-filestyle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/adapter-latest.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-filestyle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/exif.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/holder.min.js') }}"></script>
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/37227b4f5e1bbd80f404cfef6/ae35f9ecc36904532f0c06bb7.js");</script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-30504176-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-30504176-4');
</script>

  <link href="{{ url_for('static', filename='css/album.css') }}" rel="stylesheet"/>

  <title>Computer Vision Emotion Detection Game</title>
</head>

<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Computer vision game build with OpenCV and TensorFlow.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="https://github.com/justinshenk/party-pi" class="text-white">Get the code</a></li>
              <li><a href="https://linkedin.com/in/justinshenk" class="text-white">Connect on LinkedIn</a></li>
              <li><a href="mailto:shenk.justin@gmail.com?subject=Party-Pi" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
          <strong>Party Pi</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <main role="main">

    <section class="jumbotron text-center">
      <p class='lead text-muted'> Thanks for checking out the testing site! </br>
        Please note, mobile devices are not yet fully supported. Use desktop Chrome for best results.</br>
        Sign up below to be notified of the official release in May or get the <a href="https://github.com/JustinShenk/party-pi">Python app</a>.</p>
      <!-- <input type="file" class="filestyle" accept='image/*;' capture='camera' data-input="false" data-badge="false" id="file-btn"> -->
      <input id='imageInput' type="file" accept='image/*;' capture='camera' data-input="false" data-badge="false" class='filestyle' data-btnClass="btn-primary text-center" data-text="Take selfie">
      <div id='output' class='container'>
        <div class='img-overlay'>
          <div class='row justify-content-center'>
            <p id="text" style='display: none;'>Show happiness_</p>
            <button id="play" style='display: none;'>Play</button>
          </div>
      </div>
      <div id='spinner' >
      </div>
        <video width='640' height='480' autoplay="true" id="videoElement" style='display: none;'>Your browser does not support HTML5 video.</video>
        <image id='placeholderImage' width='640' height='480' style='display: none; background-color: gray;'></image>
        <div class='' id="myProgress" style='::after; display: none'>
          <div id="countdownBar">
          </div>
        </div>
        <img id="scoredImage" class="img-responsive" crossorigin="anonymous" src="" hidden='true'/>
        <canvas id="myCanvas" hidden='true'></canvas>
          <div id='mobilePrompt' class='row justify-content-center lead'>
          </div>
      </div>
    </section>
    <div id='gallery' class="album py-5 bg-light" style="display: none;">
      <div class="container">
        <h1>Gallery</h1>
        <br>
        <div class='row' id='galleryImages'>
          <canvas id="c" style="display:none"/>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us12.list-manage.com","uuid":"37227b4f5e1bbd80f404cfef6","lid":"0229295406"}) })</script>
  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Party Pi is &copy; 2018 Justin Shenk</p>
      <p>Want the code? <a href="https://github.com/justinshenk/partypi">Visit the GitHub repo</a>.</p>
    </div>
  </footer>

  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/shuffler.js') }}"></script>

</body>
</html>
