/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Karla:300,400,500,600,700";
body {
    font-family: 'Karla', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    background-color: #343a41;
    min-height: 100vh;
}

#sidebar {
    min-width: 350px;
    max-width: 350px;
    background: #eeeff0;
    color: #000;
    transition: all 0.3s;
    padding: 15px;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    /* background: #6d7fcc; */
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #343a41;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #343a41;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #343a41 !important;
    color: #000 !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    text-align: center;
    padding: 0;
    position: relative;
    height: 100%;
}

#content #logo {
  position: absolute;
  left: 10px;
  z-index: 100;
  bottom: 10px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

#sidebarCollapse {
  z-index: 10;
  position: absolute;
  top: 10px;
  left: 10px;
}

#sidebarTrophy {
  color:#f7b35b;
  margin-top:30%;
  margin-bottom:10%;
  min-width: inherit;
}

.leaderboardPortrait {
  position: relative;
  width: 74px;
  height: 73px;
  overflow: hidden;
  border: white solid 5px;
  border-radius: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

.leaderboardPortrait img {
  width: 100%;
  height: auto;
}

.positionNumber {
  background: #f6f6f6;
  border: #fff solid 2px;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
  margin-left: 50px;
  position: absolute;
  z-index: 100;
}

div.wideCircle {
  z-index: -1;
  background-color: #f6f6f6;
  border-radius: 60px/60px;
  border: #fff solid 5px;
  height: 73px;
  margin-top: 20px;
  margin-right: 15px;
}

div.wideCircle:after{
  background: #f6f6f6;
  border: #fff solid 5px;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  display: inline-block;
  font-weight: bold;
  margin-right: 20px;
  text-align: center;
  width: 1.6em;
  right: 0;
  position: absolute;
  content: attr(data-rank);
  font-size: 42.2px;
  margin-top: -73.4px;
}

.activePlace {
  color: white;
  background-color: #343a41;
  border: #5c5f62 solid 5px;
}

.activePlace:after {
  background: #343a41;
  border: #5c5f62 solid 5px;
  content: 'A';
}

.activePlace .positionNumber {
  color: white;
  background: #343a41;
  border: #5c5f62 solid 2px;
}

.activePlace .leaderboardPortrait {
  border: #5c5f62 solid 5px;
}

#place1 {
  background-color: #fcd473;
  border: #ffe094 solid 5px;
}

#place1:after {
  background: #fcd473;
  border: #ffe094 solid 5px;
  content: '1';
}

#place1 .positionNumber {
  background: #fcd473;
  border: #ffe094 solid 2px;
}

#place1 .leaderboardPortrait {
  border: #ffe094 solid 5px;
}

.leaderboardPosition {
  position: absolute;
  margin-top: 5px;
  margin-left: 80px;
  width: 200px;
  line-height: 1.2em;
}
.leaderboardPosition .name {
  font-weight: bold;
  word-wrap: break-word;
  display: block;
  word-spacing: 100vw;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.leaderboardPosition .score:before {
  content
}
.leaderboardPosition .score {
}

video {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}

span#prompt {
  font-size: 24px;
  color: white;
  border: solid white 2px;
  padding: 10px 40px;
  background:rgba(0,0,0,0.5);
}

.overlay {
  z-index: 1;
  position: absolute;
  margin-top: 55%;
  width: inherit;
  bottom: 10%;
}

/** GaugeMeter Style **/

.GaugeMeter{
    Position:        Relative;
    Text-Align:      Center;
    Overflow:        Hidden;
    Cursor:          Default;
  }

  .GaugeMeter SPAN,
  .GaugeMeter B{
    Margin:          -5% 30%;
    /* Width:           5%; */
    Position:        Absolute;
    Text-align:      Center;
    Display:         Inline-Block;
    Color:           RGBa(0,0,0,.8);
    Font-Weight:     100;
    Font-Family:     "Open Sans", Arial;
    Overflow:        Hidden;
    White-Space:     NoWrap;
    Text-Overflow:   Ellipsis;
  }
  .GaugeMeter[data-style="Semi"] B{
    Margin:          0 10%;
    Width:           80%;
  }

  .GaugeMeter S,
  .GaugeMeter U{
    Text-Decoration: None;
    Font-Size:       .5em;
    Opacity:         .5;
  }

  .GaugeMeter B{
    Color:           Black;
    Font-Weight:     300;
    Font-Size:       .5em;
    Opacity:         .8;
  }

.gaugeMeter {
  left: 50%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  margin-left: -175px;
  bottom: 20px;

}

.gaugeMeter B{
  font-size: 1.5em;
}

p#shareLinks {
  color: #fff;
}

.overlayTrophy {
  position:absolute;
  color:#f7b35b;
  margin-left: -0.55em;
  margin-top: -1.8em;
}

#content .container-fluid {
  padding: 0px; /* HACK */
}
